<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Lib2Issues</title>
        <link rel="stylesheet" href="assets/styles/style.css">
    </head>
    <body>
        <h1>Lib2Issues</h1>
        <hr>
        <%= yield %>
    </body>
</html>
